@media only screen and (min-width: 768px) {
  .contactList_section {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .contactList_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .contactList_messege {
    font-size: 25px;
    padding: 20px 20px 20px 60px;
    color: rgb(42, 140, 165);

    width: 330px;
  }
}
